$color-dark: #000000;
$color-bg-dark: #030303;
$color-title-dark: #272727;
$color-dark-red: #710707;
$color-font-gold: #9d8665;
$color-font-white: #FFFFFF;
$color-active: #7E6C51;
$color-par: #CAAA7D;
$color-footer-line: #666666;
$color-dot-active: #D2B183;
$color-grey: #C4C4C4;
$color-grey-slider: #999999;
$color-grey-hover: #989898;
$color-video-dot-active: #333333;
$color-popup-line: #740C11;

$content-width: 1440px;
$tablet-pro-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;

$assetPath :"../assets/svg";