.logo_icon {
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: $color-font-white;
  -webkit-mask-size: cover;
  transition: 1s;
}
.logo-header_icon {
  width: 49px;
  height: 26px;
  -webkit-mask-image: url(#{$assetPath}/logo.svg);
  margin: 59px 0 65px 0;
}
.logo-footer_icon {
  width: 50px;
  height: 34px;
  -webkit-mask-image: url(#{$assetPath}/frame.svg);
  margin: 9px 0 7px 0;
}
.video_icon {
  -webkit-mask-size: cover;
  transition: 1s;
  cursor: pointer;
  border: 0;
  padding: 0;
  &:hover {
    background-color: #989898;
  }
}
.play_icon {
  width: 220px;
  height: 220px;
  -webkit-mask-image: url(#{$assetPath}/video_play.svg);
  background-color: $color-font-white;
}
.play-small_icon {
  width: 23px;
  height: 31px;
  -webkit-mask-image: url(#{$assetPath}/small_video_play.svg);
  background-color: #B3B3B3;
}
.volume_icon {
  width: 38px;
  height: 31px;
  -webkit-mask-image: url(#{$assetPath}/volume.svg);
  background-color: #B3B3B3;
}
.full_icon {
  width: 35px;
  height: 35px;
  -webkit-mask-image: url(#{$assetPath}/full.svg);
  background-color: #B3B3B3;
}
.social_icons {
  width: 48px;
  height: 48px;
  border: 1px solid $color-footer-line;
  border-radius: 50px;
  filter: drop-shadow(0px 0px 0px $color-footer-line);
  transition: 1s;
  &:hover {
    border-color: $color-font-gold;
    .ico_social {
      background-color: $color-font-gold;
    }
  }
  &:active {
    border-color: $color-active;
  }
}

.ico_social {
  border: 0;
  background-color: $color-font-white;
  -webkit-mask-size: cover;
  cursor: pointer;
  display: inline-block;
  margin: 11px;
  width: 24px;
  height: 24px;
  transition: 1s;
}
.ico_youtube {
  -webkit-mask-image: url(#{$assetPath}/youtube.svg);
}
.ico_instagram {
  -webkit-mask-image: url(#{$assetPath}/instagram.svg);
}
.ico_facebook {
  -webkit-mask-image: url(#{$assetPath}/facebook.svg);
}
.ico_twitter {
  -webkit-mask-image: url(#{$assetPath}/twitter.svg);
}
.ico_pinterest {
  -webkit-mask-image: url(#{$assetPath}/pinterest.svg);
}
.booking_title-icon {
  width: 85px;
  height: 41px;
  -webkit-mask-image: url(#{$assetPath}/tickets-logo.svg);
  background-color: $color-font-gold;
  background-repeat: no-repeat;
}
.booking-date-icon {
  background-image: url(#{$assetPath}/popup/date.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin: 0 15px;
}
.booking-time-icon {
  width: 15px;
  height: 15px;
  background-image: url(#{$assetPath}/popup/time.svg);
  background-repeat: no-repeat;
  margin: 0 15px;
}
.booking-name-icon {
  width: 13px;
  height: 15px;
  background-image: url(#{$assetPath}/popup/name.svg);
  background-repeat: no-repeat;
  margin: 0 15px;
}
.booking-email-icon {
  width: 15px;
  height: 11px;
  background-image: url(#{$assetPath}/popup/email.svg);
  background-repeat: no-repeat;
  margin: 0 15px 0 14px;
}
.booking-phone-icon {
  width: 14px;
  height: 23px;
  background-image: url(#{$assetPath}/popup/tel.svg);
  background-repeat: no-repeat;
  margin: 0 15px;
}
.booking-type-icon {
  width: 15px;
  height: 15px;
  background-image: url(#{$assetPath}/popup/ballot.svg);
  background-repeat: no-repeat;
  margin: 0 15px;
}
.info_item-date {
  width: 15px;
  height: 15px;
  background-image: url(#{$assetPath}/popup/date.svg);
  background-repeat: no-repeat;
}
.info_item-time {
  width: 15px;
  height: 15px;
  background-image: url(#{$assetPath}/popup/time.svg);
  background-repeat: no-repeat;
}
.info_item-check {
  width: 15px;
  height: 15px;
  background-image: url(#{$assetPath}/popup/check_circle_outline.svg);
  background-repeat: no-repeat;
}