.layout-3-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-columns {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 153px;
  width: 363px;
  padding: 0;
  margin: 0;
}
